@import url(vendor/reset.css);
/**
 * -------------------------
 * @section Generals
 * @info    This properties are for entire front-end and we could use whenever
 * -------------------------
*/
@import url(vendor/font-awesome.min.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  -webkit-text-size-adjust: none; }

body {
  min-width: 320px;
  background: #FFF;
  font-family: "Avenir Book", sans-serif;
  font-size: 20px;
  line-height: 1.264;
  font-weight: 300;
  color: #676F79; }
  @media screen and (max-width: 767px) {
    body {
      font-size: 18px; } }

/**
 * -------------------------
 * @info Misc
 * -------------------------
*/
img {
  -ms-interpolation-mode: bicubic;
  border: none; }
  img.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }

.preloader {
  padding: 10px 0; }

/**
 * -------------------------
 * @section Dropdown
 * -------------------------
*/
.dropdown-menu > .link {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }
.dropdown-menu > .content {
  position: absolute;
  display: none;
  z-index: 200; }

/**
 * -------------------------
 * @section Progress bar
 * -------------------------
*/
#progress {
  display: none;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease; }

/**
 * -------------------------
 * @info Tabs
 * -------------------------
*/
.tabs-wrapper .tabs-content .tab-pane {
  display: none; }
.tabs-wrapper .tab.active {
  cursor: pointer; }

/**
 * -------------------------
 * @info Tabs navigation
 * -------------------------
*/
.tabs-nav {
  position: relative;
  z-index: 100; }

@media screen and (max-width: 767px) {
  .tabs-nav, .tabs-content {
    display: none; } }

/**
 * -------------------------
 * @info Tab
 * -------------------------
*/
.tab {
  display: block;
  width: 100%;
  margin-bottom: -1px;
  border: 0px solid transparent;
  border-bottom: 0px solid #F6F6F6;
  border-top: none;
  text-decoration: none; }
  .tab span {
    display: block;
    position: relative;
    padding: 10px 25px;
    overflow: hidden;
    font-size: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background: #FFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: "Avant Demi"; }
    .tab span:after {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      height: 3px;
      left: 50%;
      bottom: 0px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #FFF;
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      -ms-transition: all 0.35s;
      -o-transition: all 0.35s;
      transition: all 0.35s; }
  .tab.active {
    border-color: #F6F6F6;
    border-bottom-color: #F6F6F6;
    color: #676F79; }
    .tab.active span {
      background: #FFF;
      border-bottom-color: #F2A432; }
      .tab.active span:after {
        width: 100%; }
  @media screen and (max-width: 767px) {
    .tab span {
      padding: 10px;
      font-size: 18px; } }

/**
 * -------------------------
 * @info Tabs pane
 * -------------------------
*/
.tab-pane {
  padding: 45px 0 0 0; }
  @media screen and (max-width: 767px) {
    .tab-pane .tabs-nav {
      display: block; } }

/**
 * -------------------------
 * @info Responsive tabs
 * -------------------------
*/
.responsive-tabs {
  display: none;
  font-size: 0; }
  .responsive-tabs > ul, .responsive-tabs > ul > li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .responsive-tabs > ul {
    margin-bottom: -20px; }
  .responsive-tabs > ul > li {
    margin-bottom: 20px; }
  .responsive-tabs .tab {
    display: block;
    margin: 0; }
    .responsive-tabs .tab span {
      background: url("../img/icons/right-arrow-tab.png") no-repeat 96% center #F9F9F9; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .responsive-tabs .tab span {
          background-image: url("../img/icons/right-arrow-tab2x.png");
          background-size: 6px 12px; } }
    .responsive-tabs .tab:hover span {
      background-color: #F6F6F6; }
    .responsive-tabs .tab.active span {
      background: url("../img/icons/bottom-arrow-tab.png") no-repeat 96% center #FAFAFA; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .responsive-tabs .tab.active span {
          background-image: url("../img/icons/bottom-arrow-tab2x.png");
          background-size: 12px 5px; } }
    .responsive-tabs .tab.active + .info {
      display: block; }
  .responsive-tabs > ul > li > .info {
    display: none;
    padding: 30px 0 5px 0;
    font-size: 20px; }
  @media screen and (max-width: 767px) {
    .responsive-tabs {
      display: block; } }

/**
 * -------------------------
 * @section Generals
 * -------------------------
*/
.vamiddle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.no-border {
  border: none !important; }

.no-border-top {
  border-top: none !important; }

.no-border-left {
  border-left: none !important; }

.no-border-right {
  border-right: none !important; }

.no-border-bottom {
  border-bottom: none !important; }

.no-margin {
  margin: 0px !important; }

.no-margin-right {
  margin-right: 0px !important; }

.no-margin-left {
  margin-left: 0px !important; }

.no-margin-bottom {
  margin-bottom: 0px !important; }

.no-margin-top {
  margin-top: 0px !important; }

.no-padding {
  padding: 0px !important; }

.no-padding-top {
  padding-top: 0px !important; }

.no-padding-left {
  padding-left: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.no-padding-bottom {
  padding-bottom: 0px !important; }

/**
 * -------------------------
 * @info Form
 * -------------------------
*/
form > *:last-child {
  margin-bottom: 0; }
form > .page {
  margin-top: 0; }

/**
 * -------------------------
 * @info Form message
 * -------------------------
*/
.form-msg {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600; }
  .form-msg b {
    display: block;
    margin-bottom: 25px; }
  .form-msg.success {
    color: #FFF; }
  .form-msg.error {
    color: #FD5D5D; }

/**
 * -------------------------
 * @info Form group
 * -------------------------
*/
.form-group {
  position: relative;
  margin-bottom: 25px; }
  .form-group > *:last-child {
    margin-bottom: 0; }
  .form-group > .page {
    margin-top: 0; }
  .form-group i {
    color: #676F79; }
  .form-group.has-label label {
    margin-top: -7px;
    display: block; }
  .form-group.has-icon > div {
    position: relative;
    text-align: left; }
  .form-group.has-icon i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px;
    font-size: 22px;
    color: #676F79; }
  .form-group.has-icon input {
    padding-left: 55px; }
  .form-group.has-counter label {
    padding-right: 30px; }
  .form-group.has-counter .counter {
    position: absolute;
    top: 3px;
    right: 0px;
    font-size: 16px; }
    .form-group.has-counter .counter.warning {
      color: #FD5D5D; }

/**
 * -------------------------
 * @info Label
 * -------------------------
*/
label {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: 10px;
  font-family: "Avenir Book", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFF; }
  label span {
    color: #F46C5F; }
  label em {
    font-size: 16px;
    font-style: normal; }

/**
 * -------------------------
 * @info Form control
 * -------------------------
*/
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-family: "Avenir Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.264;
  color: #FFF;
  -webkit-transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  -moz-transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  -ms-transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  -o-transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out; }
  .form-control::-moz-placeholder {
    color: white;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: white; }
  .form-control::-webkit-input-placeholder {
    color: white; }
  .form-control.placeholder {
    color: white; }
  .form-control:focus {
    /*border-color: $color;*/
    outline: 0; }
  .form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #F6F6F6;
    opacity: 1; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .form-control {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    .form-control {
      font-size: 16px; } }
  @media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 0) {
    html.touch .form-control:focus {
      font-size: 18px; } }

/**
 * -------------------------
 * @info Fields separator
 * -------------------------
*/
.fields-separator {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  font-weight: 700;
  border-bottom: 1px solid #E4E4E4; }
  @media screen and (max-width: 767px) {
    .fields-separator {
      margin-bottom: 25px;
      padding-bottom: 5px; } }

/**
 * -------------------------
 * @info Custom file
 * @see  https://github.com/filamentgroup/jQuery-Custom-File-Input
 * -------------------------
*/
.customfile-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  cursor: pointer;
  background: none;
  border: 0;
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  z-index: 999; }

.customfile {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden; }

.customfile-feedback {
  display: block;
  position: relative;
  padding-left: 38px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/**
 * -------------------------
 * @info Select
 * -------------------------
*/
.select-wrapper {
  width: 100%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  vertical-align: middle; }
  .select-wrapper select.form-control {
    background: rgba(255, 255, 255, 0.15); }

/**
 * -------------------------
 * @info Custom selects styles (CSS)
 * @see  http://red-team-design.com/making-html-dropdowns-not-suck/
 * -------------------------
*/
html.pointerevents .select-wrapper select {
  /*background: none;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 55px;
  padding-right: 55px; }
  html.pointerevents .select-wrapper select[disabled] {
    color: #626262; }
html.pointerevents .select-wrapper:after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 1px;
  top: 1px;
  z-index: 20;
  text-align: center;
  background: url("../img/icons/select-down-arrow.svg") no-repeat center center transparent; }

/**
 * -------------------------
 * @info Textarea
 * -------------------------
*/
textarea.form-control {
  height: 120px;
  resize: none; }

/**
 * -------------------------
 * @info Checkboxes and radios
 * -------------------------
*/
.radio, .checkbox {
  display: block;
  min-height: 15px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .radio label, .checkbox label {
    display: inline;
    cursor: pointer; }

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 1px;
  margin: 0;
  padding: 0; }

.radio + .radio, .checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline, .checkbox-inline {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer; }

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 20px; }

input[type="radio"][disabled], fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled], fieldset[disabled]
input[type="checkbox"],
.radio[disabled], fieldset[disabled]
.radio,
.radio-inline[disabled], fieldset[disabled]
.radio-inline,
.checkbox[disabled], fieldset[disabled]
.checkbox,
.checkbox-inline[disabled], fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed; }

/**
 * -------------------------
 * @info Custom checkboxes styles (CSS)
 * @see  http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
 * -------------------------
*/
html.opacity input[type="checkbox"] {
  width: 20px;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer; }
  html.opacity input[type="checkbox"] + label {
    margin: 0;
    padding-left: 8px;
    font-size: 0; }
    html.opacity input[type="checkbox"] + label span {
      display: inline-block;
      zoom: 1;
      *display: inline;
      cursor: pointer;
      font-size: 20px;
      line-height: 26px;
      color: #676F79; }
      html.opacity input[type="checkbox"] + label span:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0px;
        width: 20px;
        height: 20px;
        background: url("../img/icons/input-checkbox.png") no-repeat 0 0; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          html.opacity input[type="checkbox"] + label span:after {
            background-image: url("../img/icons/input-checkbox2x.png");
            background-size: 20px 40px; } }
html.opacity input[type="checkbox"]:checked + label span:after {
  background-position: 0 -20px; }

html.opacity .radio {
  min-height: 30px;
  padding-left: 40px; }
html.opacity input[type="radio"] {
  width: 30px;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer; }
  html.opacity input[type="radio"] + label {
    margin: 0;
    font-size: 0; }
    html.opacity input[type="radio"] + label span {
      display: inline-block;
      zoom: 1;
      *display: inline;
      padding-top: 3px;
      cursor: pointer;
      font-size: 20px;
      line-height: 26px;
      color: #676F79; }
      html.opacity input[type="radio"] + label span:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 3px;
        width: 30px;
        height: 30px;
        background: url("../img/icons/input-radio.png") no-repeat 0 0; }
        @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          html.opacity input[type="radio"] + label span:after {
            background-image: url("../img/icons/input-radio2x.png");
            background-size: 30px 60px; } }
html.opacity input[type="radio"]:checked + label span:after {
  background-position: 0 -30px; }

/**
 * -------------------------
 * @info Fieldset
 * -------------------------
*/
fieldset {
  border: 1px solid #E4E4E4;
  margin-bottom: 30px;
  padding: 0px 30px 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 0; }
  fieldset > *:last-child {
    margin-bottom: 0; }
  fieldset > .page {
    margin-top: 0; }

/**
 * -------------------------
 * @info Legend
 * -------------------------
*/
legend {
  margin: 0 0 15px -10px;
  padding: 0 10px;
  font-size: 20px;
  color: #626262; }

/**
 * -------------------------
 * @info Form control with icon
 * -------------------------
*/
.control-has-icon {
  position: relative; }
  .control-has-icon .form-control {
    padding-right: 40px; }
  .control-has-icon i, .control-has-icon button {
    position: absolute;
    right: 1px;
    top: 1px;
    display: block;
    width: 40px;
    height: 42px;
    line-height: 44px;
    background: #FFF;
    font-size: 24px;
    text-align: center;
    color: #FFF;
    border: 0; }

/**
 * -------------------------
 * @info Help block
 * -------------------------
*/
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 19px;
  color: #B2B0B0; }

/**
 * -------------------------
 * @info Error
 * -------------------------
*/
.has-error .form-control, .has-error #recaptcha_response_field {
  border: 1px solid #FD5D5D !important;
  color: #FD5D5D; }
  .has-error .form-control:focus, .has-error #recaptcha_response_field:focus {
    /*border-color: $color;*/
    outline: 0; }
  .has-error .form-control::-moz-placeholder, .has-error #recaptcha_response_field::-moz-placeholder {
    color: #fd5d5d;
    opacity: 1; }
  .has-error .form-control:-ms-input-placeholder, .has-error #recaptcha_response_field:-ms-input-placeholder {
    color: #fd5d5d; }
  .has-error .form-control::-webkit-input-placeholder, .has-error #recaptcha_response_field::-webkit-input-placeholder {
    color: #fd5d5d; }
.has-error .error {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300; }
.has-error .error, .has-error i {
  color: #FD5D5D !important; }
.has-error .checkbox .error, .has-error .radio .error {
  padding-left: 5px; }

/**
 * -------------------------
 * @info Buttons
 * -------------------------
*/
.btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  margin: 0;
  z-index: 1;
  overflow: hidden;
  outline: 0;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  border-radius: 65px;
  vertical-align: middle;
  cursor: pointer;
  font-family: "Avenir Book", sans-serif;
  font-weight: 400;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  padding: 21px 25px;
  font-size: 20px;
  line-height: 20px; }
  .btn img {
    vertical-align: top;
    margin-right: 10px; }
  .btn i {
    padding: 0 5px;
    font-size: 24px;
    line-height: 20px; }
    .btn i.first {
      padding-left: 0; }
    .btn i.last {
      padding-right: 0; }
  .btn:hover, .btn:focus {
    text-decoration: none; }

/**
 * -------------------------
 * @info Buttons variants
 * -------------------------
*/
.btn-primary {
  background: #FD5D5D;
  border-color: #FD5D5D; }
  .btn-primary, .btn-primary i {
    color: #FFF; }
  .btn-primary:hover {
    color: #FFF;
    background: #fd4444;
    border-color: #fd4444; }
  .btn-primary:active, .btn-primary.active {
    background-image: none;
    color: #FFF;
    background: #fc2b2b;
    border-color: #fc2b2b;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
      opacity: 1;
      filter: alpha(opacity=100);
      color: white;
      background: #fe8f8f;
      border-color: #fe8f8f; }

.btn-fb {
  background: #3B5998;
  border-color: #3B5998; }
  .btn-fb, .btn-fb i {
    color: #FFF; }
  .btn-fb:hover {
    color: #FFF;
    background: #37538d;
    border-color: #37538d; }
  .btn-fb:active, .btn-fb.active {
    background-image: none;
    color: #FFF;
    background: #344e86;
    border-color: #344e86;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-fb.disabled, .btn-fb[disabled], fieldset[disabled] .btn-fb {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-fb.disabled, .btn-fb.disabled:hover, .btn-fb.disabled:active, .btn-fb.disabled.active, .btn-fb[disabled], .btn-fb[disabled]:hover, .btn-fb[disabled]:active, .btn-fb[disabled].active, fieldset[disabled] .btn-fb, fieldset[disabled] .btn-fb:hover, fieldset[disabled] .btn-fb:active, fieldset[disabled] .btn-fb.active {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #FFF;
      background: #718dc8;
      border-color: #718dc8; }

.btn-tw {
  background: #00ACED;
  border-color: #00ACED; }
  .btn-tw, .btn-tw i {
    color: #FFF; }
  .btn-tw:hover {
    color: #FFF;
    background: #00a1de;
    border-color: #00a1de; }
  .btn-tw:active, .btn-tw.active {
    background-image: none;
    color: #FFF;
    background: #0099d4;
    border-color: #0099d4;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-tw.disabled, .btn-tw[disabled], fieldset[disabled] .btn-tw {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn-tw.disabled, .btn-tw.disabled:hover, .btn-tw.disabled:active, .btn-tw.disabled.active, .btn-tw[disabled], .btn-tw[disabled]:hover, .btn-tw[disabled]:active, .btn-tw[disabled].active, fieldset[disabled] .btn-tw, fieldset[disabled] .btn-tw:hover, fieldset[disabled] .btn-tw:active, fieldset[disabled] .btn-tw.active {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #FFF;
      background: #54d0ff;
      border-color: #54d0ff; }

/**
 * -------------------------
 * @info Button Sizes
 * -------------------------
*/
.btn-lg {
  padding: 20px 30px;
  font-size: 24px;
  line-height: 24px; }

.btn-sm {
  padding: 8px 15px;
  font-size: 14px;
  line-height: 14px;
  height: 40px;
  line-height: 20px; }

.btn-xs {
  padding: 1px 20px;
  font-size: 14px;
  line-height: 14px; }

/**
 * -------------------------
 * @info Block button
 * -------------------------
*/
.btn-block {
  display: block;
  width: 100%;
  text-align: center; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%; }

/**
 * -------------------------
 * @info Icon button
 * -------------------------
*/
.btn-icon {
  padding-left: 15px;
  padding-right: 55px; }
  .btn-icon i {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: 15px;
    padding: 14px 0px 12px 0px;
    font-size: 25px;
    letter-spacing: 0;
    text-align: center; }

/**
 * -------------------------
 * @info Menu button
 * -------------------------
*/
.btn-menu {
  position: relative;
  width: 60px;
  height: 25px;
  padding: 0px 15px;
  background: url("../img/bg/transparent.png"); }
  .btn-menu, .btn-menu span {
    display: block; }
  .btn-menu span {
    background: #FFF;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .btn-menu.burger span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .btn-menu.burger span:nth-child(1) {
      top: 0px; }
    .btn-menu.burger span:nth-child(2), .btn-menu.burger span:nth-child(3) {
      top: 10px; }
    .btn-menu.burger span:nth-child(4) {
      top: 20px; }
  .btn-menu.burger.opened span:nth-child(1), .btn-menu.burger.opened span:nth-child(4) {
    width: 0%;
    top: 10px;
    left: 50%; }
  .btn-menu.burger.opened span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-menu.burger.opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .btn-menu.single span {
    width: 20px;
    height: 2px;
    margin-bottom: 4px; }
  .btn-menu.single.opened span {
    -webkit-transform-origin: 6px;
    -moz-transform-origin: 6px;
    -ms-transform-origin: 6px;
    -o-transform-origin: 6px;
    transform-origin: 6px; }
    .btn-menu.single.opened span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .btn-menu.single.opened span:nth-child(2) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .btn-menu.back span {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 3px; }
    .btn-menu.back span:nth-child(1) {
      top: 42px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .btn-menu.back span:nth-child(2) {
      top: 55px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

/**
 * -------------------------
 * @info  Set Font Face Fonts
 * -------------------------
*/
@font-face {
  font-family: "Avenir Book";
  src: url("../fonts/Avenir-Book_gdi.ttf") format("truetype"), url("../fonts/Avenir-Book_gdi.woff") format("woff"), url("../fonts/Avenir-Book_gdi.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Avenir Black";
  src: url("../fonts/Avenir-Black_gdi.ttf") format("truetype"), url("../fonts/Avenir-Black_gdi.woff") format("woff"), url("../fonts/Avenir-Black_gdi.woff2") format("woff2");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }
/**
 * -------------------------
 * @info Typography
 * -------------------------
*/
.form-control.arial, .arial {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.avenir-book {
  font-family: "Avenir Book"; }

.avenir-balck {
  font-family: "Avenir Black"; }

/**
 * -------------------------
 * @info Text
 * -------------------------
*/
.text-removed {
  text-decoration: line-through; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

b, strong {
  font-weight: 700; }

/**
 * -------------------------
 * @info Headings
 * -------------------------
*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Avenir Black", sans-serif, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #FD5D5D; }

h1, h2, h3, .h1, .h2, .h3 {
  font-weight: 700; }

h1, .h1 {
  font-size: 60px; }

h2, .h2 {
  font-size: 38px; }

h3, .h3 {
  font-size: 20px; }

h4, .h4 {
  font-size: 16px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

@media screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 35px; }

  h2, .h2 {
    font-size: 33px; }

  h3, .h3 {
    font-size: 16px; }

  h4, .h4 {
    font-size: 12px; }

  h5, .h5 {
    font-size: 10px; }

  h6, .h6 {
    font-size: 10px; } }
/**
 * -------------------------
 * @info Paragraphs
 * -------------------------
*/
p {
  margin: 0 0 25px; }

.lead {
  font-size: 22px;
  color: #FFF; }

.small {
  font-size: 14px; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .lead {
    font-size: 20px; }

  .small {
    font-size: 14px; } }
@media screen and (max-width: 767px) {
  .lead {
    font-size: 20px; }

  .small {
    font-size: 14px; } }
/**
 * -------------------------
 * @info Lists
 * -------------------------
*/
ul, ol {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 30px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 30px;
    margin-bottom: 30px; }
  ul li, ol li {
    margin-top: 0;
    margin-bottom: 0; }

/**
 * -------------------------
 * @info Links
 * -------------------------
*/
a {
  color: #676F79;
  text-decoration: underline; }
  a:hover {
    color: #ED1258; }
  a.text-decoration-hover {
    text-decoration: none; }
    a.text-decoration-hover:hover {
      text-decoration: underline; }
  a.highlighted-link {
    color: #FD5D5D; }
    a.highlighted-link:hover {
      color: #fc2b2b; }
  a.delete-item {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #BDBDBD;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #BDBDBD;
    font-size: 22px;
    line-height: 28px;
    text-align: center; }
    a.delete-item:hover {
      border-color: #a4a4a4;
      color: #a4a4a4; }

/**
 * -------------------------
 * @info Code
 * -------------------------
*/
code, kbd, pre, samp {
  font-family: Monospace, serif;
  font-size: 20px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  margin: 30px 0;
  overflow: auto;
  padding: 0 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * -------------------------
 * @info Code
 * -------------------------
*/
blockquote {
  margin: 30px;
  padding: 10px;
  background: none;
  border-left: 5px solid #000;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  color: #FFF;
  text-align: right; }
  blockquote > *:last-child {
    margin-bottom: 0; }
  blockquote > .page {
    margin-top: 0; }
  blockquote, blockquote q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none; }
    blockquote:before, blockquote:after, blockquote q:before, blockquote q:after {
      content: "";
      content: none; }
  blockquote blockquote {
    margin-right: 0; }
  blockquote cite, blockquote small {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase; }
  blockquote em, blockquote i {
    font-style: normal;
    font-weight: 300; }
  blockquote strong, blockquote b {
    font-weight: 400; }

/**
 * -------------------------
 * @info Box model
 * -------------------------
*/
.show {
  display: block !important; }

.hide {
  display: none !important; }

.shown {
  opacity: 1;
  filter: alpha(opacity=100); }

.hidden {
  opacity: 0;
  filter: alpha(opacity=0); }

.in-block {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.middle {
  vertical-align: middle; }

.vmiddle {
  visibility: hidden; }

.vbottom {
  vertical-align: bottom; }

/**
 * -------------------------
 * @info Grid rules
 * -------------------------
*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.no-pull {
  float: none !important; }

.ow-hidden {
  overflow: hidden; }

.clear-fix, .container, .row {
  zoom: 1; }

.clear-fix:before, .clear-fix:after, .container:before, .row:before, .container:after, .row:after {
  content: " ";
  height: 0;
  clear: both;
  display: table; }

.clear {
  clear: both; }

/**
 * -------------------------
 * @info Grid
 * -------------------------
*/
.common-wrapper {
  padding-left: 90px; }
  .common-wrapper.fluid {
    padding: 0 0 0 90px; }
    @media screen and (max-width: 767px) {
      .common-wrapper.fluid {
        padding: 0; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .common-wrapper {
      padding: 0 60px 0 150px; } }
  @media screen and (max-width: 767px) {
    .common-wrapper {
      padding: 0 60px; } }

.container {
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:last-child > div > *:last-child {
    margin-bottom: 0; }
  .row:last-child > div > .page {
    margin-top: 0; }
  .row > div {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px; }
    @media screen and (max-width: 767px) {
      .row > div {
        width: 100%; } }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/**
 * -------------------------
 * @info  FadeIn
 * @see   Mossio
 * http://mossiolab.com/sidelineswap.html
 * -------------------------
*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/**
 * -------------------------
 * @info  Soft scale
 * @see   Codrops
 * http://tympanus.net/codrops/2014/03/18/inspiration-for-item-transitions/
 * -------------------------
*/
@-webkit-keyframes scaleUp {
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-moz-keyframes scaleUp {
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-ms-keyframes scaleUp {
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    filter: alpha(opacity=0); } }
@keyframes scaleUp {
  to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-webkit-keyframes scaleDownUp {
  from {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes scaleDownUp {
  from {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes scaleDownUp {
  from {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes scaleDownUp {
  from {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes scaleDown {
  to {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-moz-keyframes scaleDown {
  to {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-ms-keyframes scaleDown {
  to {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); } }
@keyframes scaleDown {
  to {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-webkit-keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100); } }
/**
 * -------------------------
 * @info  Blink
 * @see   Typed.js
 * http://www.mattboldt.com/demos/typed-js/
 * -------------------------
*/
@-webkit-keyframes blink {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-moz-keyframes blink {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes blink {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes blink {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
/**
 * -------------------------
 * @info  Loader
 * @see   CSS Spinner
 * https://www.domsammut.com/projects/pure-css-loading-animation
 * -------------------------
*/
@-webkit-keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/**
 * -------------------------
 * @info  Pulse
 * @see   LEVEL
 * http://level-barvikha.ru/#suburbs-capital
 * -------------------------
*/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; }
  50% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .2; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; }
  50% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .2; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; } }
@-ms-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; }
  50% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .2; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; }
  50% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .2; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .2; } }
/**
 * -------------------------
 * @info Generals
 * -------------------------
*/
html {
  margin-top: 0 !important; }
  html, html body {
    width: 100%;
    height: 100%;
    background: #000; }
    html.scroll-lock, html body.scroll-lock {
      overflow: hidden; }
  html body {
    overflow-x: hidden; }
  html #general-wrapper, html #general-wrapper #content, html #general-wrapper .page-content {
    width: 100%;
    height: 100%;
    min-height: 100%; }
  html #general-wrapper .btn-register {
    min-width: 224px; }
  html #general-wrapper #content {
    position: relative; }
    @media screen and (max-width: 767px) {
      html #general-wrapper #content {
        padding-top: 0px; } }

/**
 * -------------------------
 * @info Header
 * -------------------------
*/
.header-fixed #header {
  position: relative;
  background: #000; }

#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  -webkit-transition: top 0.35s, background 0.35s;
  -moz-transition: top 0.35s, background 0.35s;
  -ms-transition: top 0.35s, background 0.35s;
  -o-transition: top 0.35s, background 0.35s;
  transition: top 0.35s, background 0.35s; }
  #header ul, #header li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  #header li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    font-size: 16px; }
  #header .container {
    position: relative;
    height: 100px;
    -webkit-transition: height 0.35s, background 0.35s;
    -moz-transition: height 0.35s, background 0.35s;
    -ms-transition: height 0.35s, background 0.35s;
    -o-transition: height 0.35s, background 0.35s;
    transition: height 0.35s, background 0.35s; }
    @media screen and (max-width: 991px) {
      #header .container {
        width: 100%; } }
  #header .btn-menu {
    display: none;
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    #header .btn-menu svg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 22px;
      outline: none; }
      #header .btn-menu svg g {
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        -ms-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s; }
    #header .btn-menu.opened svg g {
      stroke: #FFF; }
    @media screen and (max-width: 991px) {
      #header .btn-menu {
        display: block; } }
  #header .logo {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }
    @media screen and (max-width: 991px) {
      #header .logo img {
        width: 126px; } }
  #header .opts {
    display: table;
    width: 100%; }
    #header .opts .wrapper {
      text-align: right;
      font-size: 0; }
      #header .opts .wrapper, #header .opts .wrapper .top-opts {
        height: 100px; }
      #header .opts .wrapper, #header .opts .wrapper .top-opts, #header .opts .wrapper .items {
        -webkit-transition: height 0.35s;
        -moz-transition: height 0.35s;
        -ms-transition: height 0.35s;
        -o-transition: height 0.35s;
        transition: height 0.35s; }
      #header .opts .wrapper, #header .opts .wrapper .items {
        display: table-cell;
        vertical-align: middle; }
      #header .opts .wrapper .top-opts {
        display: inline-block;
        zoom: 1;
        *display: inline;
        vertical-align: middle;
        font-size: 20px; }
      @media screen and (max-width: 991px) {
        #header .opts .wrapper .top-opts {
          display: none;
          position: absolute;
          width: 100%;
          top: 100px;
          left: 0;
          overflow-y: auto;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          background: #000;
          -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
          text-align: center;
          -webkit-transition: top 0.35s;
          -moz-transition: top 0.35s;
          -ms-transition: top 0.35s;
          -o-transition: top 0.35s;
          transition: top 0.35s; }
          #header .opts .wrapper .top-opts .items {
            display: block;
            padding: 6px; }
          #header .opts .wrapper .top-opts.active {
            display: block; } }
      @media screen and (min-width: 992px) {
        #header .opts .wrapper, #header .opts .wrapper .top-opts, #header .opts .wrapper .items {
          height: 100px !important; } }
  #header .menu {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    font-size: 20px; }
    #header .menu ul {
      font-size: 0; }
    #header .menu li {
      position: relative;
      margin-left: 30px; }
      #header .menu li a {
        position: relative;
        text-decoration: none;
        font-size: 18px;
        color: #FFF; }
        #header .menu li a svg {
          width: 28px;
          height: 28px; }
        #header .menu li a:hover, #header .menu li a.current {
          color: #fd7676; }
      #header .menu li.social-links {
        font-size: 0; }
        #header .menu li.social-links a {
          display: inline-block;
          zoom: 1;
          *display: inline;
          margin-left: 13px; }
          #header .menu li.social-links a:first-child {
            margin-left: 0; }
          #header .menu li.social-links a:hover svg g {
            fill: #fd7676; }
    @media screen and (max-width: 991px) {
      #header .menu, #header .menu li, #header .menu a {
        display: block; }
      #header .menu li {
        margin-left: 0; }
        #header .menu li a {
          padding: 10px 0; }
          #header .menu li a:hover, #header .menu li a.current {
            color: #fd7676; } }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      #header .menu li {
        margin-left: 30px; } }
  #header.showed {
    top: 0; }

/**
 * -------------------------
 * @info Display as table
 * -------------------------
*/
.table-wrapper {
  padding-left: 0;
  padding-right: 0; }

.display-as-table {
  display: table;
  width: 100%;
  float: none;
  margin: 0; }
  .display-as-table > div {
    display: table-cell;
    vertical-align: middle;
    float: none; }
  @media screen and (max-width: 767px) {
    .display-as-table {
      text-align: center;
      width: inherit; }
      .display-as-table, .display-as-table > div {
        display: block;
        width: 100%; }
      .display-as-table > div {
        margin-top: 25px; }
        .display-as-table > div:first-child {
          margin-top: 0; } }

/**
 * -------------------------
 * @info Single page
 * -------------------------
*/
.single-page {
  padding-top: 50px; }
  .single-page, .single-page .single-info {
    color: #FFF; }
  .single-page .single-info {
    padding-bottom: 50px; }
    .single-page .single-info .container > *:last-child {
      margin-bottom: 0; }
    .single-page .single-info .container > .page {
      margin-top: 0; }
    .single-page .single-info .container > *:first-child {
      margin-top: 0; }
    .single-page .single-info a {
      color: #FD5D5D; }
  @media screen and (max-width: 767px) {
    .single-page {
      padding-top: 30px; }
      .single-page .single-info {
        padding-bottom: 30px; } }

/**
 * -------------------------
 * @info Common section
 * -------------------------
*/
.common-section {
  position: relative;
  padding: 120px 0;
  background: #FFF; }
  .common-section .scroll-down {
    bottom: 35px; }
  @media screen and (max-width: 767px) {
    .common-section {
      padding: 100px 0; }
      .common-section .scroll-down {
        bottom: 25px; } }

/**
 * -------------------------
 * @info Section intro
 * -------------------------
*/
.section-intro {
  margin-bottom: 90px;
  text-align: center; }
  .section-intro .container > *:last-child {
    margin-bottom: 0; }
  .section-intro .container > .page {
    margin-top: 0; }
  .section-intro .title {
    margin-top: 0;
    margin-bottom: 10px; }
  @media screen and (max-width: 767px) {
    .section-intro {
      margin-bottom: 40px; } }

/**
 * -------------------------
 * @info Top slider
 * -------------------------
*/
.top-slider {
  position: absolute;
  top: 0;
  background: #000; }
  .top-slider, .top-slider .slides, .top-slider .slide {
    width: 100%;
    height: 100%; }
  .top-slider .slide {
    background: no-repeat bottom center;
    background-size: cover !important; }

/**
 * -------------------------
 * @info Top banner
 * -------------------------
*/
.top-banner {
  min-height: 650px !important;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.75s;
  -moz-transition: opacity 0.75s;
  -ms-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  transition: opacity 0.75s; }
  .top-banner, .top-banner .wrapper {
    position: relative;
    width: 100%;
    height: 100%; }
  .top-banner .wrapper {
    z-index: 100; }
  .top-banner .title, .top-banner p {
    color: #FFF; }
  .top-banner .info {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    text-align: center; }
    .top-banner .info .title {
      margin-top: 0px; }
      .top-banner .info .title strong {
        color: #FD5D5D; }
    .top-banner .info .btn {
      margin-top: 20px; }
    @media screen and (max-width: 991px) {
      .top-banner .info {
        display: block; }
        .top-banner .info .title {
          margin-top: 0px;
          font-size: 35px; } }
  .top-banner.initialized {
    opacity: 1; }
  .top-banner.has-countdown .info {
    margin-top: 50px; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .top-banner.has-countdown .info {
        margin-top: 25px; } }
    @media screen and (max-width: 767px) {
      .top-banner.has-countdown .info {
        margin-top: 0; } }

/**
 * -------------------------
 * @info Countdown
 * -------------------------
*/
.countdown {
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 0;
  text-align: center; }
  .countdown .time {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 120px;
    height: 120px;
    margin: 0 40px 20px 40px; }
    .countdown .time > div {
      margin-bottom: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #FD5D5D;
      font-family: "Avenir Black";
      font-size: 60px;
      line-height: 120px;
      color: #FFF; }
    .countdown .time span {
      font-size: 20px;
      color: #FFF; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .countdown .time {
      width: 110px;
      height: 110px;
      margin-left: 35px;
      margin-right: 35px; }
      .countdown .time > div {
        font-size: 55px;
        line-height: 110px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .countdown {
      padding-top: 0; }
      .countdown .time {
        width: 100px;
        height: 100px;
        margin-left: 30px;
        margin-right: 30px; }
        .countdown .time > div {
          font-size: 50px;
          line-height: 100px; } }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    .countdown {
      padding-top: 0; }
      .countdown .time {
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-right: 20px; }
        .countdown .time > div {
          font-size: 50px;
          line-height: 100px; } }
  @media screen and (min-width: 320px) and (max-width: 599px) {
    .countdown {
      padding-top: 0; }
      .countdown .time {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px; }
        .countdown .time > div {
          font-size: 25px;
          line-height: 50px; }
        .countdown .time span {
          font-size: 14px; } }

/**
 * -------------------------
 * @info Download app
 * -------------------------
*/
.download-app {
  font-size: 0; }
  .download-app a {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0 15px;
    padding-top: 16px;
    padding-bottom: 16px; }
    .download-app a img {
      margin-right: 0; }
    .download-app a:first-child {
      margin-left: 0; }
    .download-app a:last-child {
      margin-right: 0; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .download-app .btn {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 991px) {
    .download-app a:last-child {
      margin-top: 20px;
      margin-left: 0; } }
  @media screen and (min-width: 500px) and (max-width: 767px) {
    .download-app a:last-child {
      margin-top: 0px; } }
  @media screen and (max-width: 499px) {
    .download-app a {
      display: block;
      max-width: 200px;
      margin: 0px auto !important; }
      .download-app a:last-child {
        margin-top: 20px !important; } }

/**
 * -------------------------
 * @info Scroll down
 * -------------------------
*/
.scroll-down {
  position: absolute;
  width: 100%;
  bottom: 50px;
  text-align: center;
  z-index: 200; }
  .scroll-down a {
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding: 10px; }
    .scroll-down a:hover svg g {
      stroke: #fd7676; }
  .scroll-down svg {
    width: 42px;
    height: 23px; }

/**
 * -------------------------
 * @info About
 * -------------------------
*/
.about {
  height: 750px; }
  .about .item {
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .about .item > *:last-child {
      margin-bottom: 0; }
    .about .item > .page {
      margin-top: 0; }
    .about .item .icon, .about .item p {
      opacity: 0; }
    .about .item .icon {
      position: relative;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      background: #FD5D5D;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
      transition: all 0.75s ease; }
    .about .item img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .about .item p {
      margin-top: 50px;
      padding: 0 10%;
      -webkit-transition: all 0.75s 0.15s ease;
      -moz-transition: all 0.75s 0.15s ease;
      -ms-transition: all 0.75s 0.15s ease;
      -o-transition: all 0.75s 0.15s ease;
      transition: all 0.75s 0.15s ease; }
    .about .item:hover {
      margin-top: -32px; }
    .about .item.showed .icon, .about .item.showed p {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1; }
    html.touch .about .item .icon, html.touch .about .item p {
      opacity: 1; }
  @media screen and (max-width: 767px) {
    .about {
      height: auto;
      padding-top: 70px; }
      .about .section-intro {
        margin-bottom: 20px; }
      .about .topics-list {
        margin-bottom: 30px; }
      .about .item {
        margin-top: 40px; }
        .about .item .icon, .about .item p {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          opacity: 1; }
        .about .item p {
          margin-top: 20px; }
        .about .item:hover {
          margin-top: 30px; } }

/**
 * -------------------------
 * @info More info, Features
 * -------------------------
*/
.more-info, .features {
  overflow: hidden; }
  .more-info .details img, .features .details img {
    height: auto; }
  .more-info .details .animated-phone, .features .details .animated-phone {
    position: absolute;
    max-width: 283px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -50px;
    opacity: 0;
    -webkit-transition: left 0.6s 0.25s, opacity 0.6s 0.25s;
    -moz-transition: left 0.6s 0.25s, opacity 0.6s 0.25s;
    -ms-transition: left 0.6s 0.25s, opacity 0.6s 0.25s;
    -o-transition: left 0.6s 0.25s, opacity 0.6s 0.25s;
    transition: left 0.6s 0.25s, opacity 0.6s 0.25s; }
    .more-info .details .animated-phone.animated, .features .details .animated-phone.animated {
      left: 10px;
      opacity: 1; }
  .more-info .details .phone, .features .details .phone {
    position: relative;
    z-index: 100;
    max-width: 326px;
    float: right;
    opacity: 0;
    -webkit-transition: opacity 0.75s;
    -moz-transition: opacity 0.75s;
    -ms-transition: opacity 0.75s;
    -o-transition: opacity 0.75s;
    transition: opacity 0.75s; }
    html.touch .more-info .details .phone, .more-info .details .phone.animated, html.touch .features .details .phone, .features .details .phone.animated {
      opacity: 1; }
  .more-info .details .section-intro, .features .details .section-intro {
    text-align: left; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .more-info .details .animated-phone, .features .details .animated-phone {
      width: 55%; }
    .more-info .details .phone, .features .details .phone {
      width: 65%; } }
  @media screen and (max-width: 991px) {
    .more-info .details .animated-phone, .features .details .animated-phone {
      display: none; }
    .more-info .details .phone, .features .details .phone {
      width: 80%;
      float: none;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    .more-info .details .section-intro, .features .details .section-intro {
      text-align: center; }
    .more-info .details .phone, .features .details .phone {
      width: 60%; } }
  @media screen and (max-width: 767px) {
    .more-info, .features {
      padding-top: 35px; } }

/**
 * -------------------------
 * @info Features
 * -------------------------
*/
.features {
  padding-bottom: 0;
  background: #000;
  color: #FFF; }
  .features .details .animated-phone {
    left: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    html.touch .features .details .animated-phone, .features .details .animated-phone.animated {
      left: 0px; }
  .features .details .phone {
    position: relative;
    z-index: 100;
    max-width: 326px;
    right: -50px;
    opacity: 0;
    -webkit-transition: right 0.75s 0.25s, opacity 0.75s 0.25s;
    -moz-transition: right 0.75s 0.25s, opacity 0.75s 0.25s;
    -ms-transition: right 0.75s 0.25s, opacity 0.75s 0.25s;
    -o-transition: right 0.75s 0.25s, opacity 0.75s 0.25s;
    transition: right 0.75s 0.25s, opacity 0.75s 0.25s; }
    html.touch .features .details .phone, .features .details .phone.animated {
      right: 10px;
      opacity: 1; }
  @media screen and (max-width: 767px) {
    .features {
      padding-top: 70px; }
      .features .details .phone {
        margin-top: 30px; } }

/**
 * -------------------------
 * @info Apply now
 * -------------------------
*/
.apply-now {
  background: url("../img/bg/apply-now.jpg") no-repeat top center #000;
  background-size: cover;
  color: #FFF; }
  .apply-now i {
    display: block;
    width: 30px;
    height: 30px;
    background: no-repeat center center; }
    .apply-now i.user {
      background-image: url("../img/icons/user.svg"); }
    .apply-now i.phone {
      background-image: url("../img/icons/phone.svg"); }
    .apply-now i.calendar {
      background-image: url("../img/icons/calendar.svg"); }
    .apply-now i.gender {
      background-image: url("../img/icons/gender.svg"); }
    .apply-now i.photo {
      background-image: url("../img/icons/photo.svg"); }
  .apply-now .btn {
    position: relative;
    max-width: 430px;
    margin: 30px auto 0 auto !important; }
    .apply-now .btn span {
      position: relative;
      z-index: 200; }
  .apply-now #progress {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; }
  .apply-now .progress-bar {
    background-color: #FE8F8F;
    font-size: 0; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .apply-now .col-1 {
      display: none; }
    .apply-now .col-10 {
      width: 100%; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .apply-now .col-1 {
      display: none; }
    .apply-now .col-10 {
      width: 100%; } }

/**
 * -------------------------
 * @info Know more
 * -------------------------
*/
.know-more {
  position: relative;
  height: 700px;
  background: url("../img/bg/know-more.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; }
  .know-more .overlay {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    background: #000;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000), to(transparent));
    background: -webkit-linear-gradient(#000, transparent);
    background: -moz-linear-gradient(#000, transparent);
    background: -ms-linear-gradient(#000, transparent);
    background: -o-linear-gradient(#000, transparent);
    background: linear-gradient(#000, transparent); }
  .know-more .info {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    .know-more .info strong {
      color: #FD5D5D; }
    .know-more .info .title {
      margin-top: 70px;
      margin-bottom: 40px;
      color: #FFF; }
  html.touch .know-more {
    background-attachment: inherit; }
  @media screen and (max-width: 767px) {
    .know-more {
      height: 600px; } }

/**
 * -------------------------
 * @info Contact form
 * -------------------------
*/
.contact-form .section-intro {
  margin-bottom: 40px;
  text-align: left; }
.contact-form .btn {
  margin-top: 5px; }
.contact-form .form-msg b {
  margin: 15px 0 0 0; }
.contact-form .form-msg.loading img {
  vertical-align: middle;
  margin-right: 15px; }
@media screen and (max-width: 991px) {
  .contact-form .col-8 {
    width: 100%; } }

/**
 * -------------------------
 * @info Error page
 * -------------------------
*/
.error-page {
  min-height: 550px !important;
  overflow: hidden;
  opacity: 0;
  background: url("../img/bg/error.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transition: opacity 0.75s;
  -moz-transition: opacity 0.75s;
  -ms-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  transition: opacity 0.75s; }
  .error-page, .error-page .wrapper {
    position: relative;
    width: 100%;
    height: 100%; }
  .error-page .wrapper {
    z-index: 100; }
  .error-page .error-msg {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: #FFF; }
    .error-page .error-msg > *:last-child {
      margin-bottom: 0; }
    .error-page .error-msg > .page {
      margin-top: 0; }
    .error-page .error-msg, .error-page .error-msg .title {
      color: #FFF; }
    .error-page .error-msg .code, .error-page .error-msg .title {
      margin: 0; }
    .error-page .error-msg .code {
      font-size: 120px; }
    .error-page .error-msg .title {
      margin-bottom: 20px; }
    .error-page .error-msg .btn {
      min-width: 200px;
      margin-top: 15px; }
    @media screen and (max-width: 767px) {
      .error-page .error-msg .code {
        font-size: 100px; } }
  .error-page.initialized {
    opacity: 1; }

/**
 * -------------------------
 * @info Footer
 * -------------------------
*/
#footer {
  padding: 45px 0;
  background: #000; }
  #footer, #footer a, #footer .title {
    color: #FFF; }
  #footer a {
    text-decoration: none; }
  #footer svg {
    width: 28px;
    height: 28px; }
  #footer ul, #footer li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  #footer li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle; }
  #footer .display-as-table > div[class*="col-"] {
    font-size: 0; }
    #footer .display-as-table > div[class*="col-"] > div {
      display: inline-block;
      zoom: 1;
      *display: inline;
      vertical-align: middle;
      font-size: 18px; }
      #footer .display-as-table > div[class*="col-"] > div > *:last-child {
        margin-bottom: 0; }
      #footer .display-as-table > div[class*="col-"] > div > .page {
        margin-top: 0; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      #footer .display-as-table > div[class*="col-"] > div {
        font-size: 16px; } }
    @media screen and (max-width: 767px) {
      #footer .display-as-table > div[class*="col-"] > div {
        display: block;
        margin-bottom: 20px; } }
  @media screen and (max-width: 991px) {
    #footer .display-as-table > div {
      display: block; }
    #footer .display-as-table > div {
      width: 100%;
      text-align: center; } }
  #footer .logo {
    margin-right: 35px; }
    @media screen and (max-width: 767px) {
      #footer .logo {
        margin-right: 0; } }
  #footer .menu li {
    position: relative;
    margin-left: 25px; }
    #footer .menu li a {
      position: relative;
      text-decoration: none;
      color: #FFF; }
      #footer .menu li a svg {
        width: 28px;
        height: 28px; }
      #footer .menu li a:hover {
        color: #fd7676; }
      #footer .menu li a.current span:after {
        width: 100%; }
      #footer .menu li a.btn-primary {
        min-width: 200px;
        text-align: center;
        color: #FFF !important; }
        #footer .menu li a.btn-primary:hover {
          color: #FFF; }
    #footer .menu li.social-links {
      font-size: 0; }
      #footer .menu li.social-links a {
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin-left: 13px; }
        #footer .menu li.social-links a:first-child {
          margin-left: 0; }
        #footer .menu li.social-links a:hover svg g {
          fill: #fd7676; }
  @media screen and (max-width: 991px) {
    #footer .menu li {
      margin: 0 8px; }
      #footer .menu li:first-child {
        margin-left: 0; }
      #footer .menu li:nth-child(3) {
        margin-right: 0; }
      #footer .menu li.social-links {
        display: block;
        margin-top: 30px; } }
