//
// application.scss
//
// It reflects the styles for the front-end project
//

// Import SASS global settings
@import "config";

/**
 * -------------------------
 * @info Generals
 * -------------------------
*/
html {
	margin-top: 0 !important;
	&, body {
		width: 100%; height: 100%; background: $black;

		// States
		&.scroll-lock {overflow: hidden;}
	}
	body {overflow-x: hidden;}

	// General wrapper
	#general-wrapper {		
		&, #content, .page-content {width: 100%; height: 100%; min-height: 100%;}
		.btn-register {min-width: 224px;}

		// Content
		#content {
			position: relative;

			// Responsive rules
			@include breakpoint($xs){padding-top: 0px;}
		}
	}
}

/**
 * -------------------------
 * @info Header
 * -------------------------
*/
$header-ht: 100px;
.header-fixed #header {position: relative; background: $black;}
#header {
	position: absolute; width: 100%; top: 0; left: 0; z-index: 2000; @include transition((top .35s, background .35s));
	ul, li {@include remove-list-style;}
	li {@include in-block; vertical-align: middle; font-size: 16px;}

	// Container
	.container {
		position: relative; height: $header-ht; @include transition((height .35s, background .35s));

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){width: 100%;}
	}	

	// Button menu
	.btn-menu {
		display: none; position: absolute; right: 15px; width: 30px; height: 30px; @include vertical-middle;
		svg {
			position: absolute; @include centered; width: 22px; outline: none;
			g {@include transition(all .35s);}
		}

		// States
		&.opened {
			svg g {stroke: $white;}
		}

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){display: block;}
	}

	// Logo
	.logo {
		position: absolute; @include vertical-middle; @include transition((all .35s));

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			img {width: 126px;}
		}
	}

	// Options
	.opts {
		display: table; width: 100%;
		.wrapper {
			text-align: right; font-size: 0;
			&, .top-opts {height: $header-ht;}
			&, .top-opts, .items {@include transition(height .35s);}
			&, .items {display: table-cell; vertical-align: middle;}
			.top-opts {@include in-block; vertical-align: middle; font-size: $font-size-base;}

			// Responsive rules
			@include breakpoint((max: $breakpoint-md - 1)){

				// Top options
				.top-opts {
					display: none; position: absolute; width: 100%; top: $header-ht; left: 0; overflow-y: auto; overflow-x: auto; -webkit-overflow-scrolling: touch; background: $black; @include box-shadow(0px 4px 5px rgba($black, .3)); text-align: center; @include transition(top .35s);
					.items {display: block; padding: 6px;}

					// States
					&.active {display: block;}				
				}
			}
			@include breakpoint($md){
				&, .top-opts, .items {height: $header-ht !important;}
			}			
		}
	}

	// Menu
	.menu {
		@include in-block; vertical-align: middle; font-size: $font-size-base;
		ul {font-size: 0;}
		li {
			position: relative; margin-left: 30px;
			a {
				position: relative; text-decoration: none; font-size: 18px; color: $white;
				svg {width: 28px; height: 28px;}

				// States
				&:hover, &.current {color: lighten($primary-color, 5%);}
			}

			// Types
			&.social-links {
				font-size: 0;
				a {
					@include in-block; margin-left: 13px;

					// Childs
					&:first-child {margin-left: 0;}

					// States
					&:hover svg g {fill: lighten($primary-color, 5%);}
				}
			}
		}

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			&, li, a {display: block;}			
			li {
				margin-left: 0;
				a {
					padding: 10px 0;

					// States
					&:hover, &.current {color: lighten($primary-color, 5%);}
				}
			}
		}
		@include breakpoint($md-only){
			li {margin-left: 30px;}
		}
	}

	// States
	&.showed {top: 0;}
}

/**
 * -------------------------
 * @info Display as table
 * -------------------------
*/
.table-wrapper {padding-left: 0; padding-right: 0;}
.display-as-table {
	display: table; width: 100%; float: none; margin: 0;
	> div {display: table-cell; vertical-align: middle; float: none;}

	// Responsive rules
	@include breakpoint($xs){
		text-align: center; width: inherit;
		&, > div {display: block; width: 100%;}
		> div {
			margin-top: 25px;

			// Content
			&:first-child {margin-top: 0;}
		}
	}
}

/**
 * -------------------------
 * @info Single page
 * -------------------------
*/
.single-page {
	padding-top: 50px;
	&, .single-info {color: $white;}
	.single-info {
		 padding-bottom: 50px;
		.container {
			@include remove-child-margin-bottom;
			> *:first-child {margin-top: 0;}
		}
		a {color: $primary-color;}
	}

	// Responsive rules
	@include breakpoint($xs){
		padding-top: 30px;
		.single-info {padding-bottom: 30px;}
	}	
}

/**
 * -------------------------
 * @info Common section
 * -------------------------
*/
.common-section {
	position: relative; padding: 120px 0; background: $white;
	.scroll-down {bottom: 35px;}

	// Responsive rules
	@include breakpoint($xs){
		padding: 100px 0;
		.scroll-down {bottom: 25px;}
	}
}

/**
 * -------------------------
 * @info Section intro
 * -------------------------
*/
.section-intro {
	margin-bottom: 90px; text-align: center;
	.container {@include remove-child-margin-bottom;}
	.title {
		margin-top: 0; margin-bottom: 10px;
	}

	// Responsive rules
	@include breakpoint($xs){margin-bottom: 40px;}
}

/**
 * -------------------------
 * @info Top slider
 * -------------------------
*/
.top-slider {
	position: absolute; top: 0; background: $black;
	&, .slides, .slide {width: 100%; height: 100%;}
	.slide {background: no-repeat bottom center; background-size: cover !important;}
}

/**
 * -------------------------
 * @info Top banner
 * -------------------------
*/
.top-banner {
	min-height: 650px !important; overflow: hidden; opacity: 0; @include transition(opacity .75s);
	&, .wrapper {position:relative; width: 100%; height: 100%;}	
	.wrapper {z-index: 100;}
	.title, p {color: $white;}	

	// Info
	.info {		
		display: block; position: absolute; width: 100%; @include vertical-middle; left: 0; text-align: center;
		.title {
			margin-top: 0px; 
			strong {color: $primary-color;}
		}
		.btn {margin-top: 20px;}		

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			display: block;
			
			.title {margin-top: 0px; font-size: 35px;}
		}
	}

	// States
	&.initialized {opacity: 1;}	
	&.has-countdown .info {
		margin-top: 50px;

		// Responsive rules
		@include breakpoint($sm-only){margin-top: 25px;}
		@include breakpoint($xs){margin-top: 0;}
	}
}

/**
 * -------------------------
 * @info Countdown
 * -------------------------
*/
.countdown {
	margin-bottom: 20px; padding-top: 10px; font-size: 0; text-align: center;
	.time {
		@include in-block; width: 120px; height: 120px; margin: 0 40px 20px 40px;
		> div {margin-bottom: 5px; @include rounded(50%); border: 2px solid $primary-color; font-family: "Avenir Black"; font-size: 60px; line-height: 120px; color: $white;}
		span {font-size: 20px; color: $white;}
	}

	// Responsive rules
	@include breakpoint($md-only){
		.time {
			width: 110px; height: 110px; margin-left: 35px; margin-right: 35px;
			> div {font-size: 55px; line-height: 110px;}
		}
	}
	@include breakpoint($sm-only){
		padding-top: 0;
		.time {
			width: 100px; height: 100px; margin-left: 30px; margin-right: 30px;
			> div {font-size: 50px; line-height: 100px;}
		}
	}
	@include breakpoint((min: 600px, max: 767px)){
		padding-top: 0;
		.time {
			width: 100px; height: 100px; margin-left: 20px; margin-right: 20px;
			> div {font-size: 50px; line-height: 100px;}
		}
	}
	@include breakpoint((min: 320px, max: 599px)){
		padding-top: 0;
		.time {
			width: 50px; height: 50px; margin-left: 10px; margin-right: 10px;
			> div {font-size: 25px; line-height: 50px;}
			span {font-size: 14px;}
		}
	}
}

/**
 * -------------------------
 * @info Download app
 * -------------------------
*/
.download-app {
	font-size: 0;
	a {
		@include in-block; margin: 0 15px; padding-top: 16px; padding-bottom: 16px;
		img {margin-right: 0;}

		// Childs
		&:first-child {margin-left: 0;}
		&:last-child {margin-right: 0;}
	}

	// Responsive rules
	@include breakpoint($md-only){
		.btn {padding-left: 20px; padding-right: 20px;}
	}
	@include breakpoint((max: $breakpoint-md - 1)){
		a:last-child {margin-top: 20px; margin-left: 0;}
	}
	@include breakpoint((min: 500px, max: 767px)){
		a:last-child {margin-top: 0px;}
	}
	@include breakpoint((max: 499px)){
		a {
			display: block; max-width: 200px; margin: 0px auto !important;

			// Childs
			&:last-child {margin-top: 20px !important;}
		}
	}	
}

/**
 * -------------------------
 * @info Scroll down
 * -------------------------
*/
.scroll-down {
	position: absolute; width: 100%; bottom: 50px; text-align: center; z-index: 200;
	a {
		@include in-block; padding: 10px;

		// States
		&:hover svg g {stroke: lighten($primary-color, 5%);}
	}
	svg {width: 42px; height: 23px;}
}

/**
 * -------------------------
 * @info About
 * -------------------------
*/
.about {
	height: 750px;

	// Item
	.item {
		text-align: center; @include transition(all .5s ease); @include remove-child-margin-bottom;
		.icon, p {opacity: 0;}
		.icon {position: relative; width: 150px; height: 150px; margin: 0 auto; @include scale(1.5); background: $primary-color; @include rounded(50%); @include transition(all .75s ease);}
		img {position: absolute; @include centered;}
		p {margin-top: 50px; padding: 0 10%; @include transition(all .75s .15s ease);}

		// States
		&:hover {margin-top: -32px;}
		&.showed {
			.icon, p {@include scale(1); opacity: 1;}
		}
		html.touch & {
			.icon, p {opacity: 1;}
		}
	}

	// Responsive rules
	@include breakpoint($xs){
		height: auto; padding-top: 70px;
		.section-intro {margin-bottom: 20px;}
		.topics-list {margin-bottom: 30px;}
		.item {
			margin-top: 40px;
			.icon, p {@include scale(1); opacity: 1;}
			p {margin-top: 20px;}

			// States
			&:hover {margin-top: 30px;}
		}
	}
}

/**
 * -------------------------
 * @info More info, Features
 * -------------------------
*/
.more-info, .features {
	overflow: hidden;

	// Details
	.details {
		img {height: auto;}
		.animated-phone {
			position: absolute; max-width: 283px; @include vertical-middle; left: -50px; opacity: 0; @include transition((left .6s .25s, opacity .6s .25s));

			// Types
			&.animated {left: 10px; opacity: 1;}
		}
		.phone {
			position: relative; z-index: 100; max-width: 326px; float: right; opacity: 0;  @include transition(opacity .75s);

			// Types
			html.touch &, &.animated {opacity: 1;}
		}
		.section-intro {text-align: left;}

		// Responsive rules
		@include breakpoint($md-only){
			.animated-phone {width: 55%;}
			.phone {width: 65%;}
		}
		@include breakpoint((max: $breakpoint-md - 1)){
			.animated-phone {display: none;}
			.phone {width: 80%; float: none; margin: 0 auto;}
			
		}
		@include breakpoint($xs){
			.section-intro {text-align: center;}
			.phone {width: 60%;}
		}
	}

	// Responsive rules
	@include breakpoint($xs){
		padding-top: 35px;
	}
}

/**
 * -------------------------
 * @info Features
 * -------------------------
*/
.features {
	padding-bottom: 0; background: $black; color: $white;

	// Details
	.details {
		.animated-phone {
			left: 0; @include transition(all .6s);

			// Types
			html.touch &, &.animated {left: 0px;}
		}
		.phone {
			position: relative; z-index: 100; max-width: 326px; right: -50px; opacity: 0;  @include transition((right .75s .25s, opacity .75s .25s));

			// Types
			html.touch &, &.animated {right: 10px; opacity: 1;}
		}		
	}

	// Responsive rules
	@include breakpoint($xs){
		padding-top: 70px;
		.details .phone {margin-top: 30px;}
	}
}

/**
 * -------------------------
 * @info Apply now
 * -------------------------
*/
.apply-now {
	background: url("../img/bg/apply-now.jpg") no-repeat top center $black; background-size: cover; color: $white;
	i {
		display: block; width: 30px; height: 30px; background: no-repeat center center;

		// Types
		$types: user phone calendar gender photo;
		@each $type in $types {
			&.#{$type} {background-image: url("../img/icons/#{$type}.svg");}
		}
	}
	.btn {
		position: relative; max-width: 430px; margin: 30px auto 0 auto !important;
		span {position: relative; z-index: 200;}
	}
	#progress {display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: transparent;}
	.progress-bar {background-color: #FE8F8F; font-size: 0;}

	// Responsive rules
	@include breakpoint($md-only){
		.col-1 {display: none;}
		.col-10 {width: 100%;}
	}
	@include breakpoint($sm-only){
		.col-1 {display: none;}
		.col-10 {width: 100%;}
	}
}

/**
 * -------------------------
 * @info Know more
 * -------------------------
*/
.know-more {
	position: relative; height: 700px; background: url("../img/bg/know-more.jpg") no-repeat center center; background-size: cover; background-attachment: fixed;
	.overlay {position: absolute; width: 100%; height: 30%; top: 0; @include linear-gradient($black, transparent);}	
	.info {
		position: absolute; width: 100%; @include vertical-middle; text-align: center;
		strong {color: $primary-color;}
		.title {margin-top: 70px; margin-bottom: 40px; color: $white;}
	}

	// States
	html.touch & {background-attachment: inherit;}

	// Responsive rules
	@include breakpoint($xs){height: 600px;}
}

/**
 * -------------------------
 * @info Contact form
 * -------------------------
*/
.contact-form {
	.section-intro {margin-bottom: 40px; text-align: left;}
	.btn {margin-top: 5px;}
	
	// Form message
	.form-msg {
		b {margin: 15px 0 0 0;}

		// Types
		&.loading {
			img {vertical-align: middle; margin-right: 15px;}
		}

	}	

	// Responsive rules
	@include breakpoint((max: $breakpoint-md - 1)){
		.col-8 {width: 100%}
	}
}

/**
 * -------------------------
 * @info Error page
 * -------------------------
*/
.error-page {
	min-height: 550px !important; overflow: hidden; opacity: 0; background: url("../img/bg/error.jpg") no-repeat center center; background-size: cover; @include transition(opacity .75s);
	&, .wrapper {position:relative; width: 100%; height: 100%;}	
	.wrapper {z-index: 100;}

	// Message
	.error-msg {
		position: absolute; width: 100%; @include vertical-middle; text-align: center; color: $white; @include remove-child-margin-bottom;
		&, .title {color: $white;}
		.code, .title {margin: 0;}
		.code {font-size: 120px;}
		.title {margin-bottom: 20px;}
		.btn {min-width: 200px; margin-top: 15px;}


		// Responsive rules
		@include breakpoint($xs){
			.code {font-size: 100px;}
		}		
	}

	// States
	&.initialized {opacity: 1;}
}

/**
 * -------------------------
 * @info Footer
 * -------------------------
*/
#footer {
	padding: 45px 0; background: $black;
	&, a, .title {color: $white;}
	a {text-decoration: none;}
	svg {width: 28px; height: 28px;}
	ul, li {@include remove-list-style;}
	li {@include in-block; vertical-align: middle;}
	.display-as-table {
		> div[class*="col-"] {
			font-size: 0;
			> div {@include in-block; vertical-align: middle; @include remove-child-margin-bottom; font-size: 18px;}

			// Responsive rules
			@include breakpoint($md-only){
				> div {font-size: 16px;}
			}
			@include breakpoint($xs){
				> div {display: block; margin-bottom: 20px;}
			}
		}

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			& > div {display: block;}
			> div {width: 100%; text-align: center;}
		}
	}

	// Logo
	.logo {
		margin-right: 35px;

		// Responsive rules
		@include breakpoint($xs){margin-right: 0;}
	}

	// Menu
	.menu {		
		li {
			position: relative; margin-left: 25px;
			a {
				position: relative; text-decoration: none; color: $white;
				svg {width: 28px; height: 28px;}

				// States
				&:hover {color: lighten($primary-color, 5%);}
				&.current {
					span:after {width: 100%;}
				}

				// Types
				&.btn-primary {
					min-width: 200px; text-align: center; color: $white !important;

					// States
					&:hover {color: $white;}
				}
			}

			// Types
			&.social-links {
				font-size: 0;
				a {
					@include in-block; margin-left: 13px;

					// Childs
					&:first-child {margin-left: 0;}

					// States
					&:hover svg g {fill: lighten($primary-color, 5%);}
				}
			}
		}

		// Responsive rules
		@include breakpoint((max: $breakpoint-md - 1)){
			li {
				margin: 0 8px;

				// Childs
				&:first-child {margin-left: 0;}
				&:nth-child(3) {margin-right: 0;}

				// Types
				&.social-links {display: block; margin-top: 30px;}
			}
		}
	}
}