//
// _animations.scss
//
// It reflects the styles for the animations.
//

/**
 * -------------------------
 * @info  FadeIn
 * @see   Mossio
 * http://mossiolab.com/sidelineswap.html
 * -------------------------
*/
@include keyframe(fadeIn){
  	0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/**
 * -------------------------
 * @info  Soft scale
 * @see   Codrops
 * http://tympanus.net/codrops/2014/03/18/inspiration-for-item-transitions/
 * -------------------------
*/
@include keyframe(scaleUp){
	from {}
	to {@include scale(1.2); @include opacity(0);}
}

@include keyframe(scaleDownUp){
	from {@include scale(.9); @include opacity(0);}
	to {@include scale(1); @include opacity(1);}
}

@include keyframe(scaleDown){
	from {}
	to {@include scale(.9); @include opacity(0);}
}

@include keyframe(scaleUpDown){
	from {@include scale(1.2);}
	to {@include scale(1); @include opacity(1);}
}

/**
 * -------------------------
 * @info  Blink
 * @see   Typed.js
 * http://www.mattboldt.com/demos/typed-js/
 * -------------------------
*/
@include keyframe(blink){
  	0% {@include opacity(1);}
    50% {@include opacity(0);}
    100% {@include opacity(1);}
}

/**
 * -------------------------
 * @info  Loader
 * @see   CSS Spinner
 * https://www.domsammut.com/projects/pure-css-loading-animation
 * -------------------------
*/
@include keyframe(rotateLoader){
	0%  {@include rotate(0deg);}
	100%  {@include rotate(360deg);}
}

/**
 * -------------------------
 * @info  Pulse
 * @see   LEVEL
 * http://level-barvikha.ru/#suburbs-capital
 * -------------------------
*/
@include keyframe(pulse){
    0% {@include scale(1); opacity: .2;}
    50% {@include scale(1.3); opacity: .2;}
    100% {@include scale(1); opacity: .2;}	
}