//
// _buttons.scss
//
// It reflects the styles for the buttons
//

/**
 * -------------------------
 * @info Buttons
 * -------------------------
*/
.btn {  
  @include in-block(); position: relative; margin: 0; z-index: 1; overflow: hidden; outline: 0; background-image: none; border: 1px solid transparent; @include rounded(65px); vertical-align: middle; cursor: pointer; font-family: $btn-font-family; font-weight: 400; text-align: center; text-overflow: ellipsis; text-decoration: none; white-space: nowrap; @include user-select(none); @include transition(all .25s); @include button-size($btn-padding, $btn-font-size);
  img {vertical-align: top; margin-right: 10px;}
  i {
    padding: 0 5px; font-size: $font-size-base + 4; line-height: $font-size-base;
    
    // Types
    &.first {padding-left: 0;}
    &.last {padding-right: 0;}
  }  

  // Hover
  &:hover, &:focus {text-decoration: none;}
}

/**
 * -------------------------
 * @info Buttons variants
 * -------------------------
*/
.btn-primary {@include button-variant($btn-primary);}
.btn-fb {@include button-variant($btn-fb);}
.btn-tw {@include button-variant($btn-tw);}

/**
 * -------------------------
 * @info Button Sizes
 * -------------------------
*/
.btn-lg {@include button-size($btn-large-padding, $btn-large-font-size);}
.btn-sm {@include button-size($btn-small-padding, $btn-small-font-size); height: 40px; line-height: 20px;}
.btn-xs {@include button-size($btn-xsmall-padding, $btn-xsmall-font-size);}

/**
 * -------------------------
 * @info Block button
 * -------------------------
*/
.btn-block {display: block; width: 100%; text-align: center;}
.btn-block + .btn-block {margin-top: 5px;}
input[type="submit"], input[type="reset"], input[type="button"] {
  &.btn-block {width: 100%;}
}

/**
 * -------------------------
 * @info Icon button
 * -------------------------
*/
.btn-icon {
  padding-left: 15px; padding-right: 55px;
  i {display: block; position: absolute; height: 100%; top: 0; right: 15px; padding: 14px 0px 12px 0px; font-size: 25px; letter-spacing: 0; text-align: center;}
}

/**
 * -------------------------
 * @info Menu button
 * -------------------------
*/
.btn-menu {
	position: relative; width: 60px; height: 25px; padding: 0px 15px; background: url("../img/bg/transparent.png");
	&, span {display: block;}
  span {background: $btn-menu-bg; @include transition(all .2s);}

  // Burger
  // See: http://designcouch.com/home/why/2014/06/23/playing-with-hamburger-icon-animations/
  &.burger {    
   	span {
   		position: absolute; left: 15px; width: 30px; height: 5px; @include rounded(2px);

  		// Childs
   		&:nth-child(1) {top: 0px;}
   		&:nth-child(2), &:nth-child(3) {top: 10px;}
   		&:nth-child(4) {top: 20px;}
   	}

   	// States
   	&.opened {
   		span {
   			&:nth-child(1), &:nth-child(4) {width: 0%; top: 10px; left: 50%;}
  	 		&:nth-child(2) {@include rotate(45deg);}
  	 		&:nth-child(3) {@include rotate(-45deg);}
   		}
   	}

    // Responsive rules
    // @include breakpoint($xs){
    //   height: 18px;
    //   span {
    //     left: 20px; width: 20px; height: 4px;

    //     // Childs
    //     &:nth-child(1) {top: 0px;}
    //     &:nth-child(2), &:nth-child(3) {top: 7px;}
    //     &:nth-child(4) {top: 14px;}
    //   }
    // }
  }

  // Single
  // See: http://mossiolab.com/
  &.single {
    span {width: 20px; height: 2px; margin-bottom: 4px;}

    // States
    &.opened {
      span {
        @include transform-origin(6px);
        &:nth-child(1) {@include rotate(45deg);}
        &:nth-child(2) {@include rotate(-45deg);}
      }
    }
  }

  // Back
  &.back {
    span {
      position: absolute; left: 10px; width: 20px; height: 3px;

      // Childs
      &:nth-child(1) {top: 42px; @include rotate(-45deg);}
      &:nth-child(2) {top: 55px; @include rotate(45deg);}
    }
  }  
}