	//
// _forms.scss
//
// It reflects the styles for the forms.
//

/**
 * -------------------------
 * @info Form
 * -------------------------
*/
form {@include remove-child-margin-bottom();}

/**
 * -------------------------
 * @info Form message
 * -------------------------
*/
.form-msg {
	margin-top: 0; font-size: $font-size-base - 4; font-weight: 600;
	b {display: block; margin-bottom: $desired-space-height - 5;}
	
	// Types
	&.success {color: $form-control-success-color;}
	&.error {color: $form-control-error-color;}
}

/**
 * -------------------------
 * @info Form group
 * -------------------------
*/
.form-group {
	position: relative; margin-bottom: 25px; @include remove-child-margin-bottom();
	i {color: $form-control-icon;}
	
	// Type
	&.has-label label {margin-top: -7px; display: block;}
	&.has-icon {
		> div {position: relative; text-align: left;}
		i {position: absolute; @include vertical-middle(); left: 15px; font-size: $font-size-base + 2; color: $form-control-icon;}
		input {padding-left: 55px;}
	}
	&.has-counter {
		label {padding-right: 30px;}

		// Counter
		.counter {
			position: absolute; top: 3px; right: 0px; font-size: $font-size-base - 4;

			// Types
			&.warning {color: $form-control-error-color;}
		}
	}

	// Responsive rules
	// @include breakpoint($xs){margin-bottom: $desired-space-height - 10;}
}

/**
 * -------------------------
 * @info Label
 * -------------------------
*/
label {
	@include in-block(); margin-bottom: 10px; font-family: $font-family-base; font-size: $font-size-base - 2; font-weight: 400; color: $label-color;
	span {color: #F46C5F;}
	em {font-size: $font-size-base - 4; font-style: normal;}
}

/**
 * -------------------------
 * @info Form control
 * -------------------------
*/
.form-control {
	display: block; width: 100%; height: 50px; padding: 15px; background-color: $form-control-bg; border: 1px solid $form-control-border; @include rounded(50px); font-family: $input-font-family; font-size: $font-size-base - 4; font-weight: 400; line-height: $line-height-base; color: $form-control-color;

	// Placeholder
  @include placeholder($form-control-placeholder-color);
  &.placeholder {color: $form-control-placeholder-color;}

	// Transitions
	@include transition((border-color .35s ease-in-out, box-shadow .35s ease-in-out));

	// Inset box shadow
	// @include box-shadow((0 1px 1px rgba($form-control-shadow-color, .075)));

	// Customize the :focus state
  @include form-control-focus();

	// Disabled and read-only inputs
  &[disabled],
  fieldset[disabled] & {cursor: not-allowed; background-color: $form-control-disabled-color; opacity: 1;}

  // Use arial font for input password
  &.arial {@extend %arial;}

	// Responsive rules
	@include breakpoint($sm-only){font-size: $font-size-base - 4;}
	@include breakpoint($xs){
		font-size: $font-size-base - 4;

		// States
		html.touch & {
			@media screen and (-webkit-min-device-pixel-ratio: 0) {
				&:focus {font-size: $font-size-base - 2;}
			}
		}
	}	
}

/**
 * -------------------------
 * @info Fields separator
 * -------------------------
*/
.fields-separator {
	margin-top: $desired-space-height + 10; margin-bottom: $desired-space-height + 10; padding-bottom: 10px; font-weight: 700; border-bottom: 1px solid $fieldset-border;

	// Responsive rules
	@include breakpoint($xs){margin-bottom: $desired-space-height - 5; padding-bottom: 5px;}	
}


/**
 * -------------------------
 * @info Custom file
 * @see  https://github.com/filamentgroup/jQuery-Custom-File-Input
 * -------------------------
*/
.customfile-input {position: absolute; top: 0; left: 0; height: 100px; cursor: pointer; background: none; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;}
.customfile {position: relative; width: 100%; cursor: pointer; overflow: hidden;}
.customfile-feedback {display: block; position: relative; padding-left: 38px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

/**
 * -------------------------
 * @info Select
 * -------------------------
*/
.select-wrapper {
	width: 100%; @include in-block(); position: relative; vertical-align: middle;
	select.form-control {background: $select-bg;}
}

/**
 * -------------------------
 * @info Custom selects styles (CSS)
 * @see  http://red-team-design.com/making-html-dropdowns-not-suck/
 * -------------------------
*/
$custom-select: true;
@if $custom-select == true {
	
	// Custom select style only for supported browsers
	html.pointerevents  {
		.select-wrapper {
			select {
				/*background: none;*/ @include appearance(none); padding-left: 55px; padding-right: 55px;
				
				// Disabled
				&[disabled] {color: $select-disabled-color;}
			}					

			// States
			&:after {content: ""; pointer-events: none; position: absolute; width: 48px; height: 48px; right: 1px; top: 1px; z-index: 20; text-align: center; background: url("../img/icons/select-down-arrow.svg") no-repeat center center transparent;}
		}
	}
}

/**
 * -------------------------
 * @info Textarea
 * -------------------------
*/
// Reset height for textarea
textarea.form-control {height: 120px; resize: none;}

/**
 * -------------------------
 * @info Checkboxes and radios
 * -------------------------
*/
// Indent the labels to position radios/checkboxes as hanging controls
.radio, .checkbox {
  display: block; min-height: $desired-space-height / 2; margin-top: 20px; margin-bottom: 20px;
  label {display: inline; cursor: pointer;}
}

// Wrappers
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {position: relative; padding-left: 20px; font-size: $font-size-base - 6; line-height: 16px; @include user-select(none)}

// Input
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {position: absolute; left: 0; top: 1px; margin: 0; padding: 0;}
.radio + .radio, .checkbox + .checkbox {margin-top: -5px;}

// Radios and checkboxes on same line
.radio-inline, .checkbox-inline {@include in-block(); margin-bottom: 0; vertical-align: middle; cursor: pointer;}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {margin-top: 0; margin-left: 20px;}

// Apply same disabled cursor tweak as for inputs
// Note: Neither radios nor checkboxes can be readonly
input[type="radio"],
input[type="checkbox"],
.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  &[disabled],
  fieldset[disabled] & {cursor: not-allowed;}
}

/**
 * -------------------------
 * @info Custom checkboxes styles (CSS)
 * @see  http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
 * -------------------------
*/
$custom-checkboxes: true;
@if $custom-checkboxes == true {
	
	// Is a rule filter to block browsers that don't support that selector from applying rules they shouldn't
	html.opacity {
		input[type="checkbox"] {
			width: 20px; margin: 0; padding: 0; opacity: 0; cursor: pointer;

			+ label {
				margin: 0; padding-left: 8px; font-size: 0;
				span {
					display: inline-block; zoom: 1; *display: inline; cursor: pointer; font-size: $font-size-base; line-height: $font-size-base + 6; color: $main-color;

					// Icon
					&:after {content: ""; display: block; position: absolute; left: 0; top: 0px; width: 20px; height: 20px; background: url("../img/icons/input-checkbox.png") no-repeat 0 0; @include image-2x("../img/icons/input-checkbox2x.png", 20px, 40px);}
				}
			}

		}

		// Checked state
		input[type="checkbox"]:checked + label span:after {background-position: 0 -20px;}
	}	
}
$custom-radios: true;
@if $custom-radios == true {
	
	// Is a rule filter to block browsers that don't support that selector from applying rules they shouldn't
	html.opacity {
		.radio {min-height: 30px; padding-left: 40px;}
		input[type="radio"] {
			width: 30px; margin: 0; padding: 0; opacity: 0; cursor: pointer;

			+ label {
				margin: 0; font-size: 0;
				span {
					display: inline-block; zoom: 1; *display: inline; padding-top: 3px; cursor: pointer; font-size: $font-size-base; line-height: $font-size-base + 6; color: $main-color;

					// Icon
					&:after {content: ""; display: block; position: absolute; left: 0; top: 3px; width: 30px; height: 30px; background: url("../img/icons/input-radio.png") no-repeat 0 0; @include image-2x("../img/icons/input-radio2x.png", 30px, 60px);}
				}
			}

		}

		// Checked state
		input[type="radio"]:checked + label span:after {background-position: 0 -30px;}
	}	
}

/**
 * -------------------------
 * @info Fieldset
 * -------------------------
*/
fieldset {
	border: 1px solid $fieldset-border; margin-bottom: $desired-space-height; padding: 0px 30px 25px; @include rounded(3px); @include remove-child-margin-bottom(); 
  	// Chrome and Firefox set a `min-width: -webkit-min-content;` on fieldsets, so we reset that to ensure it behaves more like a standard block element.
  	// See https://github.com/twbs/bootstrap/issues/12359.
  	min-width: 0;  
}

/**
 * -------------------------
 * @info Legend
 * -------------------------
*/
legend {margin: 0 0 15px -10px; padding: 0 10px; font-size: $font-size-base; color: $legend-color;}

/**
 * -------------------------
 * @info Form control with icon
 * -------------------------
*/
.control-has-icon {
	position: relative;
	.form-control {padding-right: 40px;}
	i, button {position: absolute; right: 1px; top: 1px; display: block; width: 40px; height: 42px; line-height: 44px; background: $form-control-icon-bg; font-size: $font-size-base + 4; text-align: center; color: $form-control-color; border: 0;}
}

/**
 * -------------------------
 * @info Help block
 * -------------------------
*/
.help-block {display: block; margin-top: 5px; margin-bottom: 0px; font-size: $font-size-base - 1; color: #B2B0B0;}

/**
 * -------------------------
 * @info Error
 * -------------------------
*/
// Has error
.has-error {
	.form-control, #recaptcha_response_field {border: 1px solid $form-control-error-border !important; color: $form-control-error-color; @include form-control-focus($form-control-error-color); @include placeholder( lighten($form-control-error-color, 0%) );}
	.error {display: block; margin-top: 5px; font-size: $font-size-base - 4; font-weight: 300;}
	.error, i {color: $form-error-color !important;}

	// Types
	.checkbox, .radio {
		.error {padding-left: 5px;}
	}
}