//
// _scaffolding.scss
//
// It reflects the styles for general elements
//

/**
 * -------------------------
 * @section Generals
 * @info    This properties are for entire front-end and we could use whenever
 * -------------------------
*/
// Generals
* {@include box-sizing(border-box); @include smoothing();}
html, body {-webkit-text-size-adjust: none;}
body {
	min-width: $breakpoint-xs; background: $body-bg; font-family: $font-family-base; font-size: $font-size-base; line-height: $line-height-base; font-weight: 300; color: $main-color;

	// If responsive is disabled
	@if $responsive == false {
		min-width: $container-md;
	}

	// Responsive rules
	@include breakpoint($xs){font-size: $font-size-base - 2;}
}

/**
 * -------------------------
 * @info Misc
 * -------------------------
*/
img {
	-ms-interpolation-mode: bicubic; border: none;

	// Grayscale
	// See: http://demosthenes.info/blog/532/Convert-Images-To-Black-And-White-With-CSS
	//      http://demosthenes.info/blog/540/Animating-CSS3-Image-Filters
	&.desaturate {-webkit-filter: grayscale(100%); filter: grayscale(100%); filter: url(#greyscale); filter: gray; @include transition(all .35s);}
}
.preloader {padding: 10px 0;}

/**
 * -------------------------
 * @section Dropdown
 * -------------------------
*/
.dropdown-menu {
  > .link {-webkit-touch-callout: none; @include user-select(none); cursor: pointer;}
  > .content {position: absolute; display: none; z-index: 200;}
}

/**
 * -------------------------
 * @section Progress bar
 * -------------------------
*/
#progress {display: none; height:20px;margin-bottom:20px;overflow:hidden;background-color:#f5f5f5;border-radius:4px;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}
.progress-bar{float:left;width:0;height:100%;font-size:12px;line-height:20px;color:#fff;text-align:center;background-color:#428bca;-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-webkit-transition:width .6s ease;-o-transition:width .6s ease;transition:width .6s ease}